.user-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-nav__item {
	cursor: pointer;
}

.login {

    & .login__icon {
		position: absolute;
	    top: 37%;
	    top: 39%;
	    right: 0;
	    width: 24%;
	    height: 20%;
	    
		fill: #575757;
		stroke: #575757;
	}

    &:hover .login__icon {
		fill: #D62323;
		stroke: #D62323;
	}

	&__userpic {
		font-size: 0;
	}
}

@media (min-width: 1200px) {
	.user-nav {
	    max-width: 15%;
		margin-left: auto;
    	padding: 3%;

    	border: 1px solid green;

    	&__item {
			margin-bottom: 5px;
    	}
	}

	.login {
		position: relative;
    	height: 100%;
	}

	.login__userpic {
		font-family: TTNorms, sans-serif;
		line-height: normal;
		font-size: 15px;
		padding: 0;
		color: #333333;
	}

	.login .login__icon {
	    top: 0%;
	    right: 0;
	    width: 19px;
	    height: 18px;
    }
}