.about-us {
	margin-top: 72%;
	padding-bottom: 13%;
	
	background: #D62323;
	border: 1px solid transparent;
}

.about-us__title {
	width: 70%;
	min-width: 260px;
	max-width: 500px;

	position: relative;
	margin-left: 4%;
	margin-bottom: 0;

	font-family: Spectral Bold, sans-serif;
	font-style: normal;
	font-weight: bold;
	line-height: 70px;
	font-size: 3em;

	color: #FFFFFF;

	&::after {
		content: "";
		position: absolute;
		top: 20px;
    	right: 0;
		width: 38px;
		height: 38px;

		background: url('../img/arrow.png') no-repeat;
	}
}

.about-us__info {
	display: inline-block;
	margin-top: 5px;
	margin-left: 4%;
    margin-right: 4.5%;
    margin-bottom: 0;

	font-family: TTNorms, sans-serif;
	line-height: normal;
	font-size: 0.8em;

	color: #FFFFFF;

	& span {
	    display: inline-block;
	    margin-bottom: 6px;

		font-family: TTNorms, sans-serif;
		font-size: 0.9em;

		color: #FFFFFF;
		opacity: 0.5;
	}
}

.about-restaurants {
	display: none;
}

@media (min-width: 1000px) {
	.about-us__title {
		margin-bottom: 60px;
	}		
}

@media (min-width: 1200px) {
	.about-us {
		position: relative;

		display: flex;
		margin-top: 24%;
		width: 87.5%;
		padding: 2% 0;
		border: none;
	}

	.about-us__wrapper {
		width: 93%;
	}

	.about-us__title {
	    display: inline-block;
    	font-size: 48px;
    	
    	width: auto;
	    margin-top: 0;
	    margin-left: 2%;
	    min-width: 225px;

    	&::after {
			display: none;
    	}
	}

	.about-us__info {
		margin-top: 3%;
		font-size: 18px;
		margin: 0;
    	margin-right: 2.5%;

		& span {
			font-size: 14px;
		}
	}

	.about-restaurants {
		display: block;
		width: 28%;
		height: 100%;

		position: absolute;
		top: 0;
		right: 0;

		font-family: TTNorms, sans-serif;
		line-height: normal;
		font-size: 14.5px;
		text-decoration: none;
		padding-top: 45px;
    	text-align: center;
    	text-transform: uppercase;

		color: #FFFFFF;
		background: #000000;
		box-sizing: border-box;
	}
}