.visually-hidden {
	display: none;
}

.big-goods {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		display: none;
		position: absolute;
		top: 1000px;
		z-index: 3;
		background: #ffffff;

		&--show {
			display: block;
		}
	}
}

.big-goods__close {
	width: 21%;
    height: 9%;

	position: absolute;
    top: 0;
    right: 0;
	
	border: none;
    background: #F9F9FA;
    cursor: pointer;

    &:hover {
		background: #adadad;
	}
}

.close__icon {
	position: absolute;
    top: 22%;
    right: 0;
    left: 0;
    margin: auto;
    width: 60%;
    height: 60%;

    fill: #000000;
    stroke: #000000;
}

.big-goods__img {
    display: block;
    width: 92%;
    height: 67%;
    margin: auto;
    margin-top: 19%;
}
/*анимация*/
.big-goods__item--show .big-goods__img {
	opacity: 0; 
    transition-duration: 3s, 3s;
    transition-property: opacity, transform; 
    transform: translateY(1000px);
}

.active .big-goods__img {
	opacity: 1;
	transform: translateY(10px); 
}
/*анимация*/

.big-goods__info {
	padding-bottom: 29px;
	padding-left: 4%;
	background: rgba(232, 234, 237, 0.3);
	border-top: 1px solid transparent;

	font-family: TTNorms, sans-serif;
	line-height: 21px;
	font-size: 0.9em;
	color: #333333;
	margin-top: 11%;

	& span {
		color: #999999;
	}
}

/*анимация*/
.big-goods__item--show .big-goods__info {
	opacity: 0; 
	transition-duration: 3s, 3s;
    transition-property: opacity, transform;
    transform: translateY(1000px); 
}

.active .big-goods__info {
	opacity: 1;
	transform: translateY(0px); 
}
/*анимация*/

.big-goods__title {
	margin-top: 10.8%;
	font-family: TTNorms, sans-serif;
	line-height: 27px;
	font-size: 1.5em;
	letter-spacing: 0.01em;
	color: #333333;
}

/*анимация*/
.big-goods__item--show .big-goods__title {
	opacity: 0;
	transition-delay: 0.5s;
	transition-duration: 3s, 3s;
    transition-property: opacity, transform;
    transform: translateY(1000px);
}

.active .big-goods__title {
	opacity: 1;
	transform: translateY(0px); 
}
/*анимация*/

.big-goods__weight {
	font-size: 1em;
	color: #999999;
	margin-left: 3%
}

.big-goods__description,
.big-goods__composition {
	margin-top: 7.5%;
    width: 79%;

    & span {
    	display: inline-block;
		margin-bottom: 4%;
	}
}

/*анимация*/
.big-goods__item--show .big-goods__description {
	transition-delay: 0.8s;
	opacity: 0;
	transition-duration: 3s, 3s;
    transition-property: opacity, transform;
    transform: translateY(1000px);
}

.big-goods__item--show .big-goods__composition {
	transition-delay: 1s;
	opacity: 0;
	transition-duration: 3s, 3s;
    transition-property: opacity, transform;
    transform: translateY(1000px);
}

.active .big-goods__description,
.active .big-goods__composition {
	opacity: 1;
	transform: translateY(0px); 
}

.big-goods__characteristics {
	margin-top: 8%;
	color: #d4d4d4;

	& span {
		display: inline-block;
    	margin-bottom: 0;
	}
}
/*анимация*/
.big-goods__item--show .big-goods__characteristics {
	opacity: 0;
	transition-delay: 1.2s;
	transition-duration: 3s, 3s;
    transition-property: opacity, transform;
    transform: translateY(1000px);
}

.active .big-goods__characteristics {
	opacity: 1;
	transform: translateY(0px); 
}
/*анимация*/

.big-goods__inner--characteristics {
	display: flex;
    flex-wrap: wrap;
    width: 90%;

    & span {
    	margin-right: 13%;
		line-height: 1.1em;
		font-size: 0.75em;
		color: #999999;

		& b {
			font-size: 1.125em;
			color: #333333;
		}
	}
}

.big-goods__item--show .big-goods__inner--characteristics {
	opacity: 0;
	transition-delay: 1.3s;
	transition-duration: 3s, 3s;
    transition-property: opacity, transform;
    transform: translateY(1000px);
}

.active .big-goods__inner--characteristics {
	opacity: 1;
	transform: translateY(0px); 
}

/*анимация элементов блока характеристик*/
.big-goods__item--show .big-goods__calories,
.big-goods__item--show .big-goods__proteins,
.big-goods__item--show .big-goods__fats,
.big-goods__item--show .big-goods__carbs {
	opacity: 0;
	transition-delay: 1.5s;
	transition-duration: 3s, 3s;
    transition-property: opacity, transform;
    transform: translateY(1000px);
}

.big-goods__item--show .big-goods__proteins {
	transition-delay: 1.7s;
}

.big-goods__item--show .big-goods__fats {
	transition-delay: 1.9s;
}

.big-goods__item--show .big-goods__carbs {
	transition-delay: 2.1s;
}

.active .big-goods__calories,
.active .big-goods__proteins,
.active .big-goods__fats,
.active .big-goods__carbs {
	opacity: 1;
	transform: translateY(0px); 
}

.big-goods__amount {
	display: flex;
	width: 100%;
	height: 55px;
}

.big-goods__item--show .big-goods__amount {
	opacity: 0; 
    transition-duration: 3s, 3s;
    transition-property: opacity, transform;
    transform: translateY(1000px); 
}

.active .big-goods__amount {
	opacity: 1;
	transform: translateY(0px); 
}

.big-goods__inner--amout {
	display: flex;
	width: 45%;
}

.big-goods__btn {
	position: relative;
	width: 35%;

	font-size: 0;
	border: none;
	background: #B81111;
	cursor: pointer;

	&:hover {
		background: #ad1a1a;
	}
}

.big-goods__icon {
	position: absolute;
	
	&.minus-icon {
		width: 80%;
    	height: 80%;
    	top: 24px;
    	left: 25%;
	}

	&.plus-icon {
		top: 16px;
	    left: 25%;
	    width: 45%;
	    height: 45%;
	    transform: rotate(45deg);
	    stroke: #ffffff;
	}
}

.big-goods__label {
	width: 35%;
    background: #B81111;
}

.big-goods__count {
    width: 100%;
    margin-top: 1.31em;

	font-family: TTNorms, sans-serif;
	line-height: normal;
	font-size: 0.75em;

    border: none;
    text-align: center;
    color: #ffffff;
    background: #B81111;
}

.big-goods__inner--for-desktop {
	display: none;
}

.big-goods__button-done {
    width: 55%;

    font-family: TTNorms, sans-serif;
	line-height: 1.1em;
	font-size: 0.75em;
	text-align: center;
	text-transform: uppercase;

    border: none;
    color: #ffffff;
    background: #D62323;

    cursor: pointer;

    &:hover {
		background: #ab1b1b;
	}
}

@media (min-width: 1200px) {
	.big-goods__item {
		display: flex;
	}
	
	.big-goods__img {
		width: 66%;
	    height: 66%;
	    margin-top: 13%;
	}

	.big-goods__wrapper {
		width: 40%;
    	height: 100%;
	}

	.big-goods__info {
		margin-top: 0;
		padding-top: 11%;
	}

	.close__icon {
		width: 65%;
    	height: 65%;
    	margin-left: 57%;
	}

	.big-goods__button-done {
		display: none;
	}

	.big-goods__inner--for-desktop {
		display: block;
		width: 55%;

	    font-family: TTNorms, sans-serif;
		line-height: 17px;
		font-size: 12px;
		text-align: center;
		text-transform: uppercase;

	    border: none;
	    color: #ffffff;
	    background: #D62323;
	}
}