.block-orders {
	margin-top: 27px;
	border-top: 1px solid #E8EAED;
}

.block-orders__title {
	margin-top: 3.7%;
	text-align: center;
}

.block-orders__title a {
	display: block;
	font-family: TTNorms, sans-serif;
	line-height: 21px;
	font-size: 0.7em;
	color: #000000;
	text-decoration: none;
}

.order-count {
	margin-left: 5px;
	color: #D62323;
}

.block-orders__not-find {
	display: none;
}

@media (min-width: 1200px) {
	.block-orders {
	    margin-top: 0;
		width: 19.7%;
		border: 1px solid #E8EAED;
	}

	.block-orders__title {
		margin-top: 40px;

		position: relative;
		line-height: 27px;
		font-size: 26px;

		&::after {
			content: "";
			display: block;
			width: 200px;
			height: 200px;

			position: absolute;
			top: 50px;
    		left: 0;
    		right: 0;
    		margin: auto;

			background: url('../img/order-icon.png') no-repeat;
		}
	}

	.order-count {
		display: none;
	}

	.block-orders__not-find {
		display: block;
		margin-top: 220px;

		font-family: TTNorms, sans-serif;
		line-height: 23px;
		font-size: 18px;
		text-align: center;

		color: #A7A7A7;
	}
}