.catalog {
	position: relative;
}

.catalog__header {
	border-top: 1px solid transparent;
    background: #D62323 url(../img/background-mobile.jpg) no-repeat;
    background-size: 100%;
    background-position-y: -1px;
}

@media (min-width: 1200px) {
	.catalog {
		width: 94.7%;
	}

	.catalog__header {
		position: relative;
		max-height: 580px;
		background: url(../img/background-desktop.jpg) no-repeat;
        background-size: 100% 100%;
    	border-top: 2px solid #eeeeee;
	}
}
